<div class="content">
    <% if (locals.character) { %>
        <div class="characters">
            <p><strong>Name:</strong> <%= character.firstName  %> <%= character.lastName  %></p> 
            <p><strong>Rank:</strong> <%= character.rank  %></p> 
            <p><strong>Season:</strong> <%= character.season %></p>
        </div>
    <% } %>
</div>


 
   

  
  

