<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/voyager">Voyager</a></li>
            <li><a href="/nextgen">Next generation</a></li>
        </ul>
    </nav>
</body>
