<body>
    <% if(locals.characters) { %>
        <% characters.forEach(char => { %>
        <p><a class="next-menu" href="/nextgen/<%= char.lastName.toLowerCase() %>">
            <%= char.firstName %>
            <%= char.lastName %>
        </a></p>
        <% }) %>
    <% } %>  
</body>
